<div class="thumbnail">
    <img src="http://placehold.it/820x230 " alt="">
    <div>
        <h4 class="pull-right">{{productInfo.price}}元</h4>
        <h4>{{productInfo.title}}</h4>
        <p>{{productInfo.desc}}</p>
    </div>
    <div>
        <p class="pull-right">总共{{comments.length}}条评论</p>
        <p>
            <app-stars [rating]="productInfo.rating"></app-stars>
        </p>
    </div>
</div>
<div class="well">
    <div class="row" *ngFor="let item of comments | filterTime">
        <hr>
        <div class="col-md-12">
            <app-stars [rating]="item.rating"></app-stars>
            <span>{{item.user}}</span>
            <span class="pull-right">{{item.createTime | date:'yyyy-MM-dd HH:ss:mm'}}</span>
            <p>{{item.content}}</p>
        </div>
    </div>
</div>